{
  "malPassword": "",
  "clientToken": "",
  "tokenProduction": "",
  "tokenBeta": "",
  "googleServerKey": "",
  "cbUser": "",
  "cbKey": "",
  "mashapeKey": "",
  "carbonKey": "",
  "carbonHost": "",
  "redisHost": "",
  "redisPassword": "",
  "fredboatToken": "",
  "warning": "Do not leave any values here that are not provide (eg blank), as this may cause trouble. In theory the only required values are the Discord tokens."
}
