{
  "malPassword": "",
  "clientToken": "",
  "tokenProduction": "",
  "tokenBeta": "",
  "googleServerKey": "",
  "cbUser": "",
  "cbKey": "",
  "mashapeKey": "",
  "carbonKey": "",
  "carbonHost": "",
  "redisHost": "",
  "redisPassword": "",
  "fredboatToken": ""
}