{
	"malPassword": null,
	"clientToken": null,
	"oauthSecret": {
		"beta": null,
		"production": null,
		"music": null,
		"patron": null
	},
	"token": {
		"beta": "",
		"production": null,
		"music": null,
		"patron": null
	},
	"googleServerKeys": [
		
	],
	"cbUser": null,
	"cbKey": null,
	"mashapeKey": null,
	"carbonKey": null
}