---
# For the ;;mal command
malPassword:

token:
  beta: 
  production: 
  music:

  # add your discord bot token below and remove the # (but keep two spaces in front of it)
  # find the token of your bot on https://discordapp.com/developers/applications/me
  # Optionally fill the other token strings above in

  #patron: YourTokenHere

# Used by the ;;split and ;;np commands. Must be hooked up to the Youtube Data API
# add your google API keys in the brackets below, separated by commas if more than one, uncomment by removing the #
# how to get them: https://developers.google.com/youtube/registering_an_application

#googleServerKeys: [YourYoutubeAPIKey]
#googleServerKeys: [Key1, Key2]


# From https://cleverbot.io/
cbUser:
cbKey:


# Used for the ;;leet command
mashapeKey:
