{
	"malPassword": null,
	"clientToken": null,
	"token": {
		"beta": null,
		"production": null,
		"music": null,
		"patron": "your token here"
	},
	"googleServerKeys": [
		
	],
	"cbUser": null,
	"cbKey": null,
	"mashapeKey": null
}
